footer
	padding: 50px 0
	text-align: center
	+r(768)
		padding: 25px 0

	h4
		color: $green
		font-size: 35px
		+bold
		margin-bottom: 40px !important
		+r(768)
			font-size: 28px
			margin-bottom: 20px !important
		+r(480)
			font-size: 24px

	h2
		color: $b
		font-size: 45px
		+lig
		+r(768)
			font-size: 35px
		+r(480)
			font-size: 28px
	
	.icon
		width: 100%
		color: #3b5998
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		&.facebook
			a
				color: #3b5998
			svg
				fill: #3b5998
		&.email
			fill: gray
		svg
			display: inline-block
			width: 45px
			height: 45px
			vertical-align: middle
			fill: $b

	a.phone
		font-size: 50px
		display: block
		margin: 30px 0
		color: $b
		+trans
		+reg
		+r(768)
			font-size: 35px
			margin: 15px 0
		+r(480)
			font-size: 24px
		span
			&:nth-word(2)
				font-size: 30px
				color: $red
		&:hover
			color: $s6
	
	a.request
		max-width: 100%
		width: 300px
		height: 50px
		line-height: 50px
		margin: 0 auto
		display: block
		margin-top: 30px
		color: $w
		text-transform: uppercase
		font-size: 20px
		background-color: $green
		border-radius: 4px
		+reg

.social
	li
		a
			display: block
			color: $b
			font-size: 30px
			+r(768)
				font-size: 25px
			+r(480)
				font-size: 20px
			img
				max-width: 50px